/*
    1. Pociosionamiento
    2. Modelo de caja
    3. Tipografia
    4. Temas visuales (shadow-box, border-radius)
    5. Otros
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body{
    background-image: url(../assets/images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

/* Inicios de estilos header */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
}
header .header-logo{
    width: 140px;
    height: 140px;
    margin-left: 170px;
    margin-top: 30px;
}
header nav .nav-rigth-section{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 1.8rem;
    line-height: 3rem;
}
header nav .nav-rigth-section a{
    text-decoration: none;
    color: white;
    line-height: 2.4rem;
}
header .header-nav-container{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-right: 100px;
    margin-top: 50px;
}
header .header-nav-container--lenguaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    font-size: 1.8rem;
    width: 110px;
    color: white;
    border: 5px solid #9246A2;
    border-radius: 16px;
    margin-top: 8px;
}
.separator-lenguaje{
    width: 1px;
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;

}
.container-lenguaje{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
header .header-nav-container--lenguaje img{
    width: 40px;
    margin-right: 2px;
    margin-left: 2px;
}
.last-item .button-ingresar{
    font-size: 1.8rem;
    width: 110px;
    height: 36px;
    border: 5px solid #9246A2;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: white;
}
.header-nav-container--lenguaje p{
    margin-bottom: 5px;
}
/* Fin estilos header*/

/*Inicio estilos main*/
.main-landing-container .social-list-container li{
    list-style: none;
}
.main-social-container .social-list-container a img{
    width: 54px;
    height: 54px;
}
main .main-landing-container{
    display: flex;
    justify-content: space-between;
    height: 65vh;
    margin-left: 70px;
    margin-right: 130px;
    margin-top: 40px;
}
.main-title-container{
    display: flex;
    flex-direction: column;
}
main .main-landing-container .main-title-container{
    text-align: right;
}
.main-title-container .separator-main{
    align-self:flex-end;
    width: 250px;
    height: 2.5px;
    background-color: white;
}
.main-title-container--title{
    font-size: 4vw;
    color: white;
}
.main-title-container p{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 2rem;
    color: white;
}
.social-list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
/* Fin estilos landing */

/* inicio estilos de flags*/
.main-flags-container {
    display: flex;
    justify-content: center;
    background-color: #A360BF;
    width: 100%;
    min-height: 13vh;
}
.title-services{
    width: 130px;
    margin-right: 0;
    margin-left: 10px;
    align-self: center;
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
}
.title-flags-container{
    display: flex;
}
.main-flags-container .flags-container{
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.main-flags-container .flags-container li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-flags-container .flags-container li img{
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-flags-container .flags-container li h3{
    font-size: 2.2rem;
    color: white;
}
/*Fin estilos flags */

/* inicio precio de la moneda y envios */
.main-monedasyenvio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/Decorado\ pagina\ home0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100%;
}
.main-monedasyenvio-container .main-monedasyenvio-container--title{
    font-size: 3rem;
    color: #D95204;
    margin-top: 80px;
    margin-bottom: 30px;
}
.main-monedasyenvio-container .moneda-image-container{
    max-width: 1050px;
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    border-radius: 22px;
}
.text-monedas-container{
    width: 60%;
    text-align: center;
}
.text-monedas-container h2{
    font-size: 1.8rem;
    color: #D95204;
    margin-bottom: 6px;
}
.text-monedas-container table{
    width: 100%;
    margin-left: 20px;
    text-align: center;
    border-collapse: collapse;
}
.text-monedas-container table tr th{
    font-size: 1.6rem;
    color: #D95204;
    border-bottom: 1px solid #959595;
    border-top: 1px solid #959595;
}
.text-monedas-container table tr td, .text-envios-container table tr td{
    font-size: 1.6rem;
    color:  #969390;
}
.moneda-image-container .text-monedas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.moneda-image-container img{
    width: 40%;
}
/*nueva tabla*/
.envio-image-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1050px;
    margin-top: 14px;
    margin-bottom: 15vh;
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
}
.envio-image-container img{
    width: 40%;
}
.text-envios-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    text-align: center;
}
.text-envios-container table{
    width: 90%;
    border-collapse: collapse;
}
.text-envios-container h2{
    font-size: 1.8rem;
    color: #D95204;
    margin-top: 10px;
    margin-bottom: 6px;
}
.text-envios-container table tr th{
    font-size: 1.6rem;
    color: #D95204;
    border-bottom: 1px solid #959595;
    border-top: 1px solid #959595;
}
/* fin precio de la moneda y envios */

/*inicio estilos servicios*/
.main-servicios-container{
    background-image: url(../assets/images/decorado\ contactos0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0 -15%;
    text-align: center;
    padding-bottom: 60px;
}
.main-servicios-container p{
    font-size: 1.6rem;
    color:  #969390;
}
.main-servicios--title{
    font-size: 3rem;
    color: #D95204;
    margin-top: 6vh;
    margin-bottom: 10px;
}
.main-servicios-container .cards-servicios-container{
    width: 70%;
    max-width: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.main-servicios-container .cards-servicios-container ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.main-servicios-container .cards-servicios-container ul li{
    width: 200px;
    height: 200px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
}
.main-servicios-container .cards-servicios-container ul li img{
    width: 150px;
}
.main-servicios-container .cards-servicios-container ul li h3{
    font-size: 1.6rem;
    font-weight: 600;
    color:  #D95204;
}
.boton-servicios{
    margin: 0 auto;
    width: 230px;
    height: 45px;
    background-color: #893CCC;
    border-radius: 20px;
}
.boton-servicios a{
    display: block;
    padding-top: 3px;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    line-height: 2rem;
}
/*Fin estilos servicios*/

/*Inicio estilos no te lo pierdas*/
.pierdas-section-container {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}
.pierdas-section-container img{
    width: 50%;
    height: auto;
}
.pierdas-serction--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}
.pierdas-serction--text h3{
    font-size: 3rem;
    color:  #D95204;
    margin-bottom: 10px;
}
.pierdas-serction--text p{
    font-size: 2.2rem;
    line-height: 2.5rem;
    width: 70%;
    margin: 0 auto;
    color:#969390;
    margin-bottom: 20px;
}
.boton-pierdas{
    margin: 0 auto;
    width: 230px;
    height: 45px;
    background-color: #893CCC;
    border-radius: 20px;
}
.boton-pierdas a{
    display: block;;
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    line-height: 4.5rem;
}
/*fin estilos no te lo pierdas*/

/* Inicio estilo Blog */
.main-blog-container{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.main-blog-container .blog-container--title{
    font-size: 3rem;
    color:  #D95204;
}
.text-blog{
    font-size: 2.5rem;
    color: #666564;
}
.blog-background-cotainer{
    margin:0 auto ;
}
.cards-blog-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.cards-blog-container ul{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    list-style: none;
    flex-wrap: wrap;
}
.cards-blog-container ul li{
    width:340px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #cecccc;
}
.cards-blog-container ul li img{
    width: 100%;
    height: auto;
}
.blog-cards-text{
    margin: 10px;
}
.blog-cards-text h3{
    font-size: 3rem;
    color:  #D95204;
    margin-bottom: 10px;
}
.blog-cards-text p{
    font-size: 1.5rem;
    color:#969390;
    line-height: 2rem;
}
